@model IEnumerable<STOCKON.Models.Liste_produit_vente>

@{
    ViewBag.Title = "Ventes d'un produit";
}
@if (Model.Count() > 0)
{
<h2>Ventes du produit : @Model.First().Article.Libelle_article</h2>
}
<p>
    @Html.ActionLink("[Ventes]", "Lvente", new {id = Url.RequestContext.RouteData.Values["id"]})
      @Html.ActionLink("[Achats]", "Lachat", new {id = Url.RequestContext.RouteData.Values["id"]})
        @Html.ActionLink("[Mouvement de stock]", "lmv", new {id = Url.RequestContext.RouteData.Values["id"]})
</p>

 @{
        var grid = new WebGrid(Model,rowsPerPage : 20);
        @grid.GetHtml(tableStyle:"grid",
        headerStyle:"head",
        alternatingRowStyle: "altrow",
                columns: grid.Columns(
                             grid.Column("Facture_vente.Code_facture", "Numero de pièce"),
                                      grid.Column("Facture_vente.Date_facture", "Date", format: @<text>@item.Facture_vente.Date_facture.ToString("dd/MM/yyyy")</text>),
                                                  grid.Column("Quantite", "Quantité"),
                                                  grid.Column("Prix", "PU", format: @<text>@item.Prix.ToString("###,###")</text>),
                                                                                                                                           grid.Column("Prix_total", "PT", format: @<text>@item.Prix_total.ToString("###,###")</text>),
                                                                                                                                                                                 grid.Column("Facture_vente.Client.Nom_client", "Client")


                                                                                                                                           )

                                                                                                                               );
        }


<br />
<div>
    @Html.ActionLink("Retour à la liste des articles", "Index")
</div>
