@using STOCKON.Models
@model ModelFacture

<br />

<table cellpadding="3" cellspacing="3">
    <tr >
      <td width="50%" align="left">
          <b>@Model.Nom_E</b>
      </td>
      <td width="50%" align="right">
        <b>Date : </b>@Model.Date_Facture
      </td>
    </tr>
    <tr >
      <td width="50%" align="left">
          @Model.Adresse_E
      </td>
      <td width="50%" align="right">
        <b>Mouvement de stock No : </b>@Model.Num_Facture
      </td>
    </tr>
    <tr >
      <td width="50%" align="left">
          @Model.Numtel_E
      </td>
      <td width="50%" align="right">
      </td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr >
      <td width="50%" align="left">
          <b>Type de mouvement : </b>@Model.Type_Op
      </td>
      <td width="50%">
        
      </td>
    </tr>  
 </table>

<br />
@{ int sum = 0;}
<table cellpadding="3" cellspacing="3">
    <tr border="1" bgcolor="#777777" color="#ffffff">
        <td width="20%" align="center">
            Quantité
        </td>
        <td width="40%" align="center">
            Description
        </td>
        <td width="20%" align="center">
            Prix unitaire
        </td>
         <td width="20%" align="center">
            Prix total
        </td>
    </tr>
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    @foreach (Liste_produit produit in Model.Liste_produit)
    {
        sum = sum + Convert.ToInt32(produit.Prix_Total);
        <tr border="1" bgcolor="@Odd">
            <td>@produit.Quantite
            </td>
            <td>@produit.Article.Libelle_article
            </td>
            <td align="right">@produit.Prix.Value.ToString("###,###")
            </td>
            <td align="right">@produit.Prix_Total.Value.ToString("###,###")
            </td>
        </tr>
        if (Odd == OddColor)
        {
            Odd = evenColor;
        }
        else
        {
            Odd = OddColor;
        }

    }
    <tr >
        <td width="20%">
        </td>
        <td width="40%">
        </td>
        <td width="20%" bgcolor="#777777" color="#ffffff">
            <b>Total</b>
        </td>
         <td width="20%" align="right" bgcolor="#777777" color="#ffffff">
           <b>@sum.ToString("###,###")</b>
        </td>
    </tr>
</table>

