@model STOCKON.Models.Facture_vente

@{
    ViewBag.Title = "Facture de vente";
}

<h2>Facture de vente</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    List<SelectListItem> Mitems = new List<SelectListItem>();
    Mitems.Add(new SelectListItem
    {
        Text = "Facture",
        Value = "Facture"
    });
    Mitems.Add(new SelectListItem
    {
        Text = "Bon de commande",
        Value = "Bon de commande",
        Selected = true
    });
    Mitems.Add(new SelectListItem
    {
        Text = "Bon de livraison",
        Value = "Bon de livraison",
        Selected = true
    });

    List<SelectListItem> MR = new List<SelectListItem>();
    MR.Add(new SelectListItem
    {
        Text = "Comptant",
        Value = "Comptant"
    });
    MR.Add(new SelectListItem
    {
        Text = "A crédit",
        Value = "A crédit",
        Selected = true
    });
     
    }

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nouvelle Facture</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Id_client)
        </div>
        <div class="editor-field">
           @* @Html.DropDownList("Id_client")

            @Html.Telerik().ComboBox().Name("Combo").AutoFill(true).SelectedIndex(Model.Id_facture).*@
           
            @Html.Telerik().AutoComplete().Name("test").BindTo((IEnumerable<String>)ViewData["Client"])          
            @Html.ValidationMessageFor(model => model.Id_client)
            @Html.HiddenFor(model => model.Code_facture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_facture)
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.Date_facture).Value(DateTime.Now)
            @Html.ValidationMessageFor(model => model.Date_facture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mode_reglement)
        </div>
        <div class="editor-field">
             @Html.DropDownList("Mrg", MR)
            @Html.ValidationMessageFor(model => model.Mode_reglement)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type_facture)
        </div>
        <div class="editor-field">
            @Html.DropDownList("TypeF", Mitems)
            @Html.ValidationMessageFor(model => model.Type_facture)
        </div>

        <p>
            <input type="submit" value="Enregistrer" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

