@model IEnumerable<STOCKON.Models.Facture_vente>

@{
    ViewBag.Title = "Factures de ventes pour un client";
}

@if (Model.Count() > 0)
{
<h2>Factures de ventes pour le client @Model.First().Client.Nom_client</h2>
}
<p>
    @Html.ActionLink("[Ventes par produit]", "Lvente", new {id = Url.RequestContext.RouteData.Values["id"]})
     @Html.ActionLink("[Factures]", "Lfacture", new {id = Url.RequestContext.RouteData.Values["id"]})
      @Html.ActionLink("[Règlements]", "Lreglement", new {id = Url.RequestContext.RouteData.Values["id"]})
</p>

 @{
        var grid = new WebGrid(Model,rowsPerPage : 20);
        @grid.GetHtml(tableStyle:"grid",
        headerStyle:"head",
        alternatingRowStyle: "altrow",
                columns: grid.Columns(
                             grid.Column("Code_facture", "Référence"),
                                      grid.Column("Date_facture", "Date", format: @<text>@item.Date_facture.ToString("dd/MM/yyyy")</text>),
                                                           grid.Column("Mode_reglement", "Mode de reglèment"),
                                                           grid.Column("Type_facture", "Type facture"),
                                                                                               grid.Column("", "", format: (item) => Html.ActionLink("Editer", "AddProduit", "FactureV", new { id = item.ID_facture },null)),
                                                                                                                                                                 grid.Column("", "", format: (item) => Html.ActionLink("Ajouter un règlement", "Create", "Reglement", new { id = item.ID_facture },null))

                                                  )

                                      );
        }


        <br />

        
<div>
    @Html.ActionLink("Retour à la liste des clients", "Index")
</div>
